body {
  background: #ec35dd;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a30e27, #c7c419);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ebd2e9, #e9bde3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tipo{
  font-family: 'Bubble Bobble';
}

.font{
  background: #e688de;
  font-size: 130%;
}